<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>day04</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/ex03.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>  <!--  이 프로젝트 내에 있는 모든 페이지들이 에러가 나면 ex02-error.jsp로 이동하라 -->
		<location>/ex02-error.jsp</location>				
	</error-page>
	
	<!-- web.xml 을 실행하는게 아님 -->
	<!-- 에러를 처리하는 방법은 3가지가 있다 -->
	
	
</web-app>